body {
    margin: 0;
    /* Use quotation marks if font name is multiple words*/
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: #9DC8C8;
    color: #134244; 
}

hr {
    margin: 0;
    background-color: #9DC8C8;
}

body > main {
    display: flex;
    justify-content: space-evenly;
}

body > main > div {
    display: flex;
    flex-direction: column;
}

body > main > article {
    width: 75%;
    margin: auto;
}

/* Main header segment */

body > header {
    background-color: #519D9E;
    display: flex;
    justify-content: space-around;
    height: 20%;
}

/* > Title segment */

#main_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_title > h1 {
    margin: 0px;
}

#main_title > h4 {
    margin: 0px;
}

/* > Navigation segment */

#main_navigation > ul{
    display: flex;
    margin: 0px;
    padding-left: 0px;
}

.main_nav_list{
    list-style: none;
    text-align: center;
    padding: 1vb 0px;
    margin: 0px;
    border-left: 1px dotted #9DC8C8;
    border-right: 1px dotted #9DC8C8;;
}

/*select only nav li element located after another nav li element*/
.main_nav_list ~ .main_nav_list{
    border-left: 0px solid #9DC8C8;
}

.main_nav_list > a{
    text-decoration: none;
    padding: 1vb;
    font-size: 20px;
    color: #9DC8C8;
}

/* Aside segment */

body > main > aside {
    text-align: center;
}

body > main > aside > h4{
    text-align: center;
    margin: 1vb 2vb;
    padding: 0.5vb;
    background-color: #b2d4da;
    border-radius: 10%;
}

body > main > aside > nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Tier segments */

.tier {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0fr;
    grid-template-areas:
    "tier characters";
    padding: 15px 0px 0px 0px;
}

.tier > h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    font-size: 50px;
    border: 2px solid #ffffff;
    background-color: #073538;
    color: #00b1b1;
    grid-area: tier;
}

.tier > nav {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    background-color: #073538;
}

.tier > nav > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 0px;
    grid-area: characters;
}

.tier_nav_list {
    list-style: none;
    padding: 25px 5px;
    margin: 0px;
}

.tier_nav_list > a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    border: 2px solid #37c9c9;
    background-color: #1e7c7e;
    color: #a9f8f8;
}

/* Footer segment */

#footer_content {
    background-color: #519D9E;
    width: 99%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "image author edit_date"
        "image info1 info2";
}

#footer_content > h2{
    margin: auto;
    text-align: center;
    grid-area: author;
}

#footer_content > h3{
    margin: auto;
    text-align: center;
    grid-area: edit_date;
}

#footer_content > img {
    margin: 0px;
    padding: 10px;
    width: 150px;
    height: 150px;
    grid-area: image;
}

#footer_info1 {
    margin: 0px 3%;
    grid-area: info1;
    text-align: center;
}

#footer_info2 {
    margin: 0px 3%;
    grid-area: info2;
    text-align: center;
}